body > aside {
  display: block;
  width: 200px;
  padding: 10px;
  text-align: center;
  background-color: #aaa;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

#logo {
  margin: 0;
  border-bottom: 1px solid white;
}

#tags {
  text-align: center;
  padding: 0;
}

#tags li {
  list-style-type: none;
  font-family: monospace;
  line-height: 1.5em;
}

.tag {
  padding: 0;
}

.tag:before {
  content: "#";
}

.tag:hover {
  color: #aaa;
  background-color: white;
}
