@(title: String)(content: Html)(implicit tags: List[String])

<!DOCTYPE html>
<html>
<head>
  <title>@title</title>
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
  <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">
</head>

<body>
  <aside>
    <a href="/"><pre id="logo">
|=|
| |
| |
/   \
.~~~~~.
|-----|
|t.h.n|
|-----|
|_____|
    </pre></a>
    <ul id="tags">
      @tags.map { tag =>
        <li>
          <a class="tag" href="@{routes.Application.tag(tag)}">@tag</a>
          <a title="random!" href="@{routes.Application.random(tag)}">%</a>
        </li>
      }
    </ul>
  </aside>
  <div id="content">
    @content
  </div>
</body>
</html>
